language: java
jdk: oraclejdk8
install: true

before_script:
  - bin/ci-setup-env.sh
  - openssl aes-256-cbc -K $encrypted_877b689a489a_key -iv $encrypted_877b689a489a_iv -in keystores/trusona-signing.gpg.enc -out keystores/trusona-signing.gpg -d

script:
  - ./gradlew clean build

deploy:
  - provider: script
    skip_cleanup: true
    script: ./gradlew publish artifactoryPublish
    on:
      branch: master

  - provider: script
    skip_cleanup: true
    script: ./gradlew publish artifactoryPublish
    on:
      tags: true

notifications:
  slack:
    on_success: always
    on_failure: always
    rooms:
      - secure: "Tw1m35d88X+Yg/KpH/eAhg9fdymt7IqbM/JDIooUWF+1JAJZ+s8Bx7sDJ0k9ij5yZOsXfxSFTRqgD8KE0ffBNlyxjsD7uEoDDllf5WY/RtXCirG8dFhliAjt75vextTYABK3qsIK/82nmZnVLMtvLHDbvgTmOOmQrZdAoS5ZGRmhhdKzPVeRRVpPS1w4YDA1UohJEFuUTIlyCHHTARNYpKahxjgpzIk7IM8zBiui1a4jaxCvbs2MpmOSXQ1Vl2Ht+NWF1bCVENiFn+zjbJPYKmOWhOn6A3ElDVTR0uuhFYw4k5nNX53uzQA/2gH6Qe7boHMtZ2pwDHXsLMzZQ5TWollavTKXCC+S9apWzdH0jv4/7grYKPo8DeSdSgDZwPMX42iziDIltYmE2pjXIrH6I+tJcBlisPpqZELevmwAaZfUS+ZQZRRkpCQMG4393L8FKp6zXJFVYSgB435OgWfiDsh1jV1YtiwyZhIFzf1TsmDgjWqjOR12P7fE/AZGD8LrbtcJz656M2Xx+w+/3F55+yKzBOMR7CWQDI4TNE6egLEHnRH36f4z0uxA5js3daQHbdJ5tQsA7kYk5sWElAk04JEu+y9ZvJmzTbb5En22qktvCOLzeWdgA6ALsDIQrbydHmpyj+nuiw1zyzwZDksaUoBVG6zEgNZ4jc2WhxDhsHc="
