language: java
jdk: openjdk8
install: true

before_script: bin/ci-setup-env.sh

script: ./gradlew build

after_script: bin/coverage-report.sh

deploy:
  - provider: script
    skip_cleanup: true
    script: "./gradlew publish artifactoryPublish"
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: "./gradlew publish artifactoryPublish"
    on:
      tags: true
notifications:
  slack:
    on_success: always
    on_failure: always
    rooms:
    - secure: Tw1m35d88X+Yg/KpH/eAhg9fdymt7IqbM/JDIooUWF+1JAJZ+s8Bx7sDJ0k9ij5yZOsXfxSFTRqgD8KE0ffBNlyxjsD7uEoDDllf5WY/RtXCirG8dFhliAjt75vextTYABK3qsIK/82nmZnVLMtvLHDbvgTmOOmQrZdAoS5ZGRmhhdKzPVeRRVpPS1w4YDA1UohJEFuUTIlyCHHTARNYpKahxjgpzIk7IM8zBiui1a4jaxCvbs2MpmOSXQ1Vl2Ht+NWF1bCVENiFn+zjbJPYKmOWhOn6A3ElDVTR0uuhFYw4k5nNX53uzQA/2gH6Qe7boHMtZ2pwDHXsLMzZQ5TWollavTKXCC+S9apWzdH0jv4/7grYKPo8DeSdSgDZwPMX42iziDIltYmE2pjXIrH6I+tJcBlisPpqZELevmwAaZfUS+ZQZRRkpCQMG4393L8FKp6zXJFVYSgB435OgWfiDsh1jV1YtiwyZhIFzf1TsmDgjWqjOR12P7fE/AZGD8LrbtcJz656M2Xx+w+/3F55+yKzBOMR7CWQDI4TNE6egLEHnRH36f4z0uxA5js3daQHbdJ5tQsA7kYk5sWElAk04JEu+y9ZvJmzTbb5En22qktvCOLzeWdgA6ALsDIQrbydHmpyj+nuiw1zyzwZDksaUoBVG6zEgNZ4jc2WhxDhsHc=
env:
  global:
  # CC_TEST_REPORTER_ID
  - secure: TxW0RmNjHWsPAGZlU70HkvXVj2att3+aKPZrCz38MFpYCvqFcYxOXypsyihV0d/5qSq+0j15NmYxG4pPhq/b+fVtKKJZM7Mt7ww5ns6oSmdYcN580/iNVsM++vuEc91naPGNH4YWynK/qdV/9phSi78xJrHxFvzTBZh4fL/XCxd76wwv742gE6VUyYKbpjyZyNrHTPN809+0P0tMXnu6SULUwmQcB7Zi8Ts03o719ZVeMSfEjAmhqVDd6r0tB0pgmLkj3NZpBjoFB+tqARjLRqCgdlsEhdcwFU8jCMO3iX/15f3jOnUckwFBQSbwvl+oeCcGaWE3118/FBSzBhKWi4qIRG4dGZG9ty9jTHHzx3zzTGVvOnWxjMUBsHEqx5xzBrzx/URSHJFVSwdkgdW0J9ZtF5Kg5bF2x9jpdxrDnR4XTSnKzbv8QRG6ByWv35NoXrjP+pxxv/Kf30NB6HX+RuwEazyT1bNr1I+jM4HiCC0OFF/1DE1MGNefzYW8EABQlm0CdJU2Rj3W91lFUY1K2al3t5itkrMVhVrOkSXBmZNOfASOYZdKpIC1uanaA80HLwS6LDWTZzCWIePcWPoiTV5plOlr2zEbcG+sLo58JLTrz17hstmLoDA7Q6g+nnZo50eUvysZbuOOtPtYo3cVB8k/MhO2MEIrRECGkNRCrCU=
